<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Robot Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

  <div class="sidebar">
    <div class="logo">
      <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="SynchroBots 로고">
    </div>
    <ul class="menu">
      <li>대쉬보드</li>
      <li>AGV</li>
      <li>PLC</li>
      <li>ARM</li>
      <li>이벤트 로그</li>
    </ul>
  </div>

  <div class="main">
    <div class="page-header">
      <h1>대쉬보드</h1>
    </div>

    <div class="content">
      <div class="map">
        <img src="{{ url_for('static', filename='images/map.png') }}" alt="맵 이미지">
      </div>

      <div class="status">
        <div class="agv-boxs">
          <div class="agv-box">
            <h3>AGV 1 <span>09.02 14:10</span></h3>
            <div class="battery_body">
              <div class="battery lv2"></div>
              <div class="battery_content" >
                
                <p>충전량: 28%</p>
                <p>속도: 0km/s</p>
                <p>상태: STOP</p>
                <button>상세보기</button>
              </div>
            </div>
          </div>

          <div class="agv-box">
            <h3>AGV 2 <span>09.02 12:00</span></h3>
            <div class="battery_body">
              <div class="battery lv4"></div>
              <div class="battery_content" >
                <p>충전량: 98%</p>
                <p>속도: 10km/s</p>
                <p>상태: RUN</p>
                <button>상세보기</button>
              </div>
            </div>
          </div>
        </div>
        <div class="event-log">
          <h3>최근 이벤트로그</h3>
          <table>
            <tr>
              <th>제품</th><th>ID</th><th>content</th><th>date</th>
            </tr>
            <tr>
              <td>AGV</td><td>1</td><td>A 지점 이동완료</td><td>09.02 14</td>
            </tr>
            <tr>
              <td>Arm</td><td>1</td><td>적재물 이상체크</td><td>09.02 11</td>
            </tr>
            <tr>
              <td>AGV</td><td>2</td><td>배터리 오류 확인 필요</td><td>09.01 11</td>
            </tr>
          </table>
        </div>
        <div class="summarys">
          <div class="summary">
            <h3>2025.09.02 이상탐지률</h3>
            <table>
              <tr><td>정상</td><td>5</td></tr>
              <tr><td>이상탐지</td><td>2</td></tr>
            </table>
          </div> 
          <div class="summary">
            <h3>2025.09.02 AGV적재률</h3>
            <table>
              <tr><td>A</td><td>5</td></tr>
              <tr><td>B</td><td>2</td></tr>
              <tr><td>C</td><td>2</td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
