{# app/templates/_sidebar.html #}
<aside class="sidebar">
  <div class="sidebar-inner">
    <div class="sidebar-logo">
      Menu
    </div>

    <nav class="sidebar-nav">
        {# Dashboard #}
        <a href="{{ url_for('web_bp.dashboard') }}"
           class="sidebar-link {% if active_page == 'dashboard' %}is-active{% endif %}">
            DashBoard
        </a>

        {# Control Panel #}
        <a href="{{ url_for('web_bp.control') }}"
           class="sidebar-link {% if active_page == 'control' %}is-active{% endif %}">
            Control Panel
        </a>

        {# Vision Logs #}
        <a href="{{ url_for('web_bp.vision_logs') }}"
           class="sidebar-link {% if active_page == 'vision_logs' %}is-active{% endif %}">
            Vision Log
        </a>
    </nav>
  </div>
</aside>
